@charset "UTF-8";

body {
	background-color: rgb(2, 48, 75);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

header {
	background-color: rgba(0, 134, 139, 0.123);
	color: white;
	text-align: center;
}

section {
	background-color: rgb(228, 228, 228);
	border-radius: 1.1em;
	padding: 15px;
	width: 500px;
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
}

section > div > p {
	font-weight: bold;
	font-style: italic;
}

footer {
	background-color: rgba(0, 134, 139, 0.123);
	text-align: center;
	margin-top: 2em;
}

footer > a {
	color:  rgba(211, 211, 211, 0.815);
	text-decoration: none;
}

footer > a:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}