@charset "UTF-8";

body {
	background-color: rgb(250, 253, 198);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.titulo {
	width: 26em;
	
}

h1 {
	background-color: rgb(212, 216, 135);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 28px;
	padding-left: 1rem;
	border-radius: 12px;
}

span {
	font-family: 'Times New Roman', Times, serif;
	font-size: 31px;
}